In [1]:

# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import ast

# Load data
rf = pd.read_csv("/Users/arsenpankiv/Desktop/Python_practice/small_dataset.csv")

# Clean data
rf["date"] = pd.to_datetime(rf["date"])
rf["skills_list"] = rf["skills_list"].apply(
    lambda skills: ast.literal_eval(skills) if isinstance(skills, str) else skills
)

stat = rf[rf["job_title"]== "Statistician"].copy()

In [ ]:
# Drop rows with NaN in specific columns:
stat.dropna(subset=["mean_salary", "num_of_jobs"])

# df.dropna(axis=1)
# axis=0: rows (default)
# axis=1: columns

# df.dropna(how='all')
# how='any': (default) drop if any NaN in the row

# how='all': drop only if all values in the row are NaN

"""do not forget to type in inplace=True comand"""

,code,area,date,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,num_of_jobs,job_title,skills,skills_list,job__health_insurance,work_from_home
3,E09000004,bexley,1999-07-05,18621.0,NaN,21386.0,18.0,217458.0,160000.0,Statistician,"Python, Machine Learning, R, Data Analysis","[Probability, SAS, Regression]",False,False
4,E09000005,brent,1999-12-12,18532.0,NaN,20911.0,6.0,260317.0,134000.0,Statistician,"Data Analysis, Statistical Modeling, R","[Statistics, Data Cleaning, Machine Learning]",True,True
5,E09000006,bromley,1999-09-08,NaN,NaN,21293.0,13.0,NaN,113000.0,Statistician,"Statistical Modeling, Data Analysis, R, Machin...","[R, Python, Data Analysis]",False,False
6,E09000007,camden,1999-11-03,23677.0,NaN,30249.0,13.0,NaN,84000.0,Statistician,"R, Machine Learning, Python, Statistical Modeling",NaN,True,False
7,E09000008,croydon,1999-03-02,19563.0,NaN,22205.0,13.0,NaN,102000.0,Statistician,"Machine Learning, Data Analysis, R","[R, Python, Data Analysis]",True,True
8,E09000009,ealing,1999-01-11,20580.0,NaN,25046.0,12.0,302252.0,120000.0,Statistician,"Python, Machine Learning, Data Analysis","[Probability, SAS, Regression]",False,True
21,E09000004,bexley,1999-09-05,18621.0,NaN,21386.0,18.0,217458.0,160000.0,Statistician,"Python, Statistical Modeling, Machine Learning","[Probability, SAS, Regression]",True,False